<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			background-image: url('https://images.unsplash.com/photo-1533644881452-074329df94fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YnV0dGVyc2NvdGNoJTIwaWNlY3JlYW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
		}
		h1{
			color: white;
		}
		p{
			color: wheat;
			font-size: 23px;
		}
	footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
	</style>
	<meta charset="utf-8">
	<title>ButterScotch</title>
</head>
<body>
	<h1>Butterscotch</h1>
	<p>
		Butterscotch is a type of confectionery whose primary ingredients are brown sugar and butter, but other ingredients are part of some recipes, such as corn syrup, cream, vanilla, and salt. The earliest known recipes, in mid-19th century Yorkshire, used treacle (molasses) in place of or in addition to sugar.

Butterscotch is similar to toffee, but for butterscotch, the sugar is boiled to the soft crack stage, not hard crack as with toffee. Often credited with their invention, Parkinson's of Doncaster made butterscotch boiled sweets and sold them in tins, which became one of the town's best known exports. They became famous in 1851 when Queen Victoria was presented with a tin when she visited the town.Butterscotch sauce, made of butterscotch and cream, is used as a topping for ice cream (particularly sundaes).
	</p>

</body>
<footer> <small>&copy; Copyright 2018, Example Corporation</small> </footer>
</html>