<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body{
			background-image: url('https://images.unsplash.com/photo-1592413890637-ea80fb4ed093?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2hvY29sYXRlJTIwaWNlJTIwY3JlYW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
		}

		#p1{
			color: brown;
			font-size: 20px;
		}
	footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
	</style>
	<meta charset="utf-8">
	<title>Chocolte Icecream</title>
</head>
<body>
	<h1>Chcolate Ice-cream</h1>
	<p style="color:brown; font-size:20px">Chocolate ice cream is generally made by blending <br>cocoa powder along with the eggs, cream, vanilla and sugar used to make vanilla ice cream.<br> Sometimes chocolate liquor is used in addition to cocoa powder, or it is used exclusively, to create the chocolate flavor. <br><br><br>Cocoa powder gives chocolate ice cream its brown color, and it is uncommon to add other colorings.

The Codex Alimentarius, which provides an international set of standards for food, states that the flavor in chocolate ice cream must come from nonfat cocoa solids that must comprise at least 2.0-2.5% of the mix weight. <br><br><br>
</p>
<p id="p1">
The US Code of Federal Regulations "permits reductions in the content of milk fat and total milk solids by a factor of 2.5 times the weight of the cocoa solids", in order to take into account the use of additional sweeteners.

The minimum fat content of chocolate ice cream in both Canada and the United States is 8%, irrespective of the amount of chocolate sweetener in the recipe</p>

</body>
<footer> <small>&copy; Copyright 2018, Example Corporation</small> </footer>
</html>