<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
		body{
			background-image: url('https://images.unsplash.com/photo-1560691023-ca1f295a5173?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RyYXdiZXJyeSUyMGljZWNyZWFtfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
		}
		p{
			font-size: 25px;
			color: palevioletred;
		}
	</style>
	<meta charset="utf-8">
	<title>Strawberry</title>
</head>
<body>
	<h1>Strawberry Icecream</h1>
	<p>
		Strawberry ice cream is a flavor of ice cream made with strawberry or strawberry flavoring. It is made by blending in fresh strawberries or strawberry flavoring with the eggs, cream, vanilla and sugar used to make ice cream. Most strawberry ice cream is colored pink or light red. Strawberry ice cream dates back at least to 1813, when it was served at the second inauguration of James Madison.Along with vanilla and chocolate ice cream, strawberry is one of the three flavors in Neapolitan ice cream. Variations of strawberry ice cream include strawberry cheesecake ice cream and strawberry ripple ice cream, which is vanilla ice cream with a ribbon of strawberry jam or syrup. Some ice cream sandwiches are prepared neapolitan-style, and include strawberry ice cream.
	</p>
</body>
<footer> <small>&copy; Copyright 2018, Example Corporation</small> </footer>
</html>