<!doctype html>
<html lang="en">
  <head>
    <style>
     footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Varities!</title>
  </head>
  <body>
  	<table>
  		<td>
  			<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1597922650197-bb12464cbebd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW9jaGklMjBpY2VjcmVtfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=30" class="card-img-top" width="100" height="300"alt="...">
  <div class="mochi">
    <h5 class="card-title">Mochi Icecream</h5>
    <p class="card-text">Of course, Mochi Ice Cream is our favorite. We take premium ice cream and wrap it in delicious, authentic <br>Mochi dough, allowing you to ditch <br>the spoon and take your ice cream<br> with you wherever you go.</p>
    <a href="/" class="btn btn-primary">For more</a>
  </div>
</div>
  		</td>
  		<td>
  			<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1550107423-724cb70a5bb5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2VsYXRvJTIwaWNlY3JlYW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="255" alt="...">
  <div class="Gelato">
    <h5 class="card-title">Gelato</h5>
    <p class="card-text">Gelato, It is made with whole milk, without using added cream. This makes the milkfat percentage much lower than traditional ice cream. Also, gelato is often made without eggs and stabilizers. While it is being churned, there is little to no air whipped into it, leaving a dense, thick texture.</p>
    <a href="/" class="btn btn-primary">For more</a>
  </div>
</div>
  		</td>
    
    
<td>
	<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1613482084248-ab36d58bab87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZnJvemVuJTIweW9ndXJ0fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="280" alt="...">
  <div class="Frozen Yogurt">
    <h5 class="card-title">Frozen Yogurt</h5>
    <p class="card-text">Frozen yogurt, or Fro-Yo, is a very popular form of ice cream right now. This frozen treat is made using some of the same ingredients as ice cream, but with a much lower percentage of fat. There is also yogurt mixed in, which gives it more of a tart taste.</p>
    <a href="/" class="btn btn-primary">For more</a>
  </div>
</div>
</td>
<td>
	<div class="card" style="width: 18rem;">
  <img src="https://images.unsplash.com/photo-1501443762994-82bd5dace89a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c29yYmV0JTIwaWNlY3JlYW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" height="275" alt="...">
  <div class="Sorbet">
    <h5 class="card-title">Sorbet</h5>
    <p class="card-text">Sorbet is frozen treat that contains little to no dairy. Because it is made by using frozen berries and sweetened water, it is very light in texture and flavor.Mulled wine sorbet can be made with red wine, orange, lemons, mulling spices, ruby port, and egg whites.</p>
    <a href="/" class="btn btn-primary">For more</a>
  </div>
</div>
</td>
    
</table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
  <footer> <small>&copy; Copyright 2018, Example Corporation</small> </footer>
</html>